/*Обнуление*/
*{
padding: 0;
margin: 0;
border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {
	font-family:"Franklin Gothic Medium";
}
.wrapper {
max-width: 1000px;
margin:0 auto;
position: relative;
background-color: #141b23;
background-image: url(Bitmap.png);
background-repeat: no-repeat;
background-position: 334px 0;
}

.header {
	padding:50px 0 74px 54px;
}
.list {
	display: flex;
	justify-content: flex-start;
}
.h5 {
	color: #9da6b5;
	font-size: 17px;
	font-weight: 400;
	padding-right: 12px;
}
.h1 {	
	color: #9da6b5;
	font-size: 17px;
	font-weight: 400;
	padding-right: 7px;
	padding-left: 7px;
}

.body {
	max-width: 552px;
	padding-left: 95px;
	padding-bottom: 200px;
}
.h2 {
	color: #ffffff;
	font-size: 25px;
	font-weight: 400;
	padding-bottom: 5px;	
}

.h3 {
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.2;
	padding-bottom: 20px;	
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.65);
}
.h6 {
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.2;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.65);
}
 .footer {
 	padding-left: 54px;
 	padding-bottom: 49px;
 }
 .h4 {
 	color: #54595f;
	font-size: 12px;
	font-weight: 400;
 }
